<style>	
/*	GBS Light 1	*/
/*	   V1.0		*/
body	{
	background: linear-gradient(to right, #999999, ##e2e2e2); /*IE support*/
	background: -webkit-linear-gradient(to right, #999999, ##e2e2e2); /*Chrome support*/
	}
header	{
	background: linear-gradient(to right, #00ffbf, #00faff); /*IE support*/
	background: -webkit-linear-gradient(to right, #00ffbf, #00faff); /*Chrome support*/
	padding: 15px;
	width: 760px;
	display: block;
	margin: auto;
	}
main	{
	width: 760px;
	display: block;
	margin: auto;
	}
footer	{
	width: 760px;
	display: block;
	margin: auto;
	}
h1	{
	color: #000000;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 300%;
	}
h2	{
	color: #00ffbf;
	text-align: center;
	}
h3	{
	color: #00fc9b;
	}
h4	{
	color: #00ddc3;
	}
h5	{
	color: #00d87e;
	}
h6	{
	color: #00ed62;
	}
p	{
	text-align: justify;
	color: #000000;
	font-family: "Courier New", Courier, monospace;
	}
img	{
	display: block;
	margin: auto;
	}
button	{
	font-size: 12px;
	height: 20px;
	width: 126px;
	border-radius: 8px;
	text-align: center;
	display: inline-block;
	margin: auto;
	text-decoration: none;
	background-color: #00ffbf;
	}
nav	{
	width: 760px;
	}
</style>
