<style>	
/*----------------------*/
/*	GBS Light 1	*/
/*	   V1.2		*/
/*----------------------*/
/*	Misc Tags:	*/
html	{
	padding: 10%;
	}
	}
body	{
	background: linear-gradient(to right, #999999, ##e2e2e2); /*IE support*/
	background: -webkit-linear-gradient(to right, #999999, ##e2e2e2); /*Chrome support*/
	}
header	{
	background: linear-gradient(to right, #00ffbf, #00faff); /*IE support*/
	background: -webkit-linear-gradient(to right, #00ffbf, #00faff); /*Chrome support*/
	padding: 15px;
	display: block;
	margin: auto;
	}
nav	{
	display: block;
	margin: auto;
	padding: 15px;
	}
main	{
	display: block;
	margin: auto;
	}
footer	{
	display: block;
	margin: auto;
	}
/*	Text Formating:	*/
h1	{
	color: #000000;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 300%;
	}
h2	{
	color: #00ffbf;
	text-align: center;
	}
h3	{
	color: #00fc9b;
	}
h4	{
	color: #00ddc3;
	}
h5	{
	color: #00d87e;
	}
h6	{
	color: #00ed62;
	}
p	{
	text-indent: 50px;
	text-align: justify;
	color: #000000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
/*	Graphics:	*/
img	{
	display: block;
	margin: auto;
	}
/*	Navigational Stuff:	*/
a	{
	font-family: "Lucida Console", Monaco, monospace;
	}
a:link:not(li)	{
	color: #0000ff;
	text-decoration: none;
	}
a:visited:not(li)	{ 
    	color: #8585ad;
	text-decoration: none;
	}
a:hover:not(li)	{
	text-decoration: underline;
	}
button	{
	font-size: 12px;
	height: 20px;
	width: 126px;
	border-radius: 8px;
	text-align: center;
	display: inline-block;
	margin: auto;
	text-decoration: none;
	background-color: #00ffbf;
	}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: max-device-width;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
	width: max-device-width;
    	text-align: center;
    	border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/*	Classes:	*/
.active {
    	background-color: #4CAF50;
	}
.code	{
	font-family: "Courier New", Courier, monospace;
	}
</style>
