#all	{
	display: block;
	margin: auto;
	max-width: 2000px;
	min-width: 1px;
	width: auto;
	text-decoration: none;
	color: black;
	background-color: #FFFFFF;
	background-image: url(https://i3wbra.bl3302.livefilestore.com/y3mr4bQ_C8UeDt--NyJQs65ZXntyTKd460yoeEf9vvyuocYY4smoVn7uXLPNqHQkAjQFO96cVXaLxnnOkuUuCDaDIufnls6S5WTg_3AO8OMD0-TYzKzojTgmO0jBOHc_URs7FVmWwoQ8Gq3m9f7Llk8ybMvh-rpXlJ5T4iAR9U9x3E/Art1forsite.jpg?psid=1);
	}
.navbar {
        color: #000000;
	font-family: 'Aldrich', sans-serif;
	text-decoration: none;
        }
li a	{
	display: block;
	color: #000;
    	padding: 1%;
    	text-decoration: none;
	}
